<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <style>
        body {
            background-color: #bfbfbf;
            font-family: Arial, sans-serif;
            margin: 2px;
            line-height: 1.6;
        }
        
        h1 {
            color: #333;
            margin-bottom: 20px;
            text-align: center;
        }
        
        .nav-links{
            list-style: none;
            padding: 0;
            text-align: center;
        }
        
        .nav-links li {
            margin-bottom: 15px;
        }

        .nav-links a {
            color: #0066cc;
            text-decoration: none;
            font-size: 18px;
        }

        .nav-links a:hover {
            text-decoration: underline;
        }
    </style>
  </head>
  <body>
    <!--Student Number-->
    <h1>G00424644</h1>
    <ul class="nav-links">
        <li><a href="/students">Students</a></li>
        <li><a href="/grades">Grades</a></li>
        <li><a href="/lecturers">Lecturers (MongoDB)</a></li>
    </ul>
  </body>
</html>